<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <p>Dear {{name}}!</p><br />
    <p>Thank you for order</p><br />
    <div class='order-information'>
      <p>Your order details</p>
      <ul>
        <li>Order ID: {{billing.id}}</li>
        <li>Customer name: {{billing.bill_name}}</li>
        <li>Phone: {{billing.phone_number}}</li>
        <li>Address: {{`${billing.bill_address}, ${billing.bill_city}`}}</li>
        <li>Pick up date: {{billing.pick_up_datetime}}</li>
        <li>Drop off date: {{billing.drop_off_datetime}}</li>
        <li>Status: {{billing.status}}</li>
      </ul>
    </div>
  </body>
</html>